pretraining/gpt-small-c4/
pretraining/gpt-tokenizer/
pretraining/logs/

down-stream/sentence_classification/fine-tuning/fullset/imdb2-full-gpt2-small/
down-stream/sentence_classification/fine-tuning/subset/imdb2-small-gpt2-small/

down-stream/sentence_classification/from-scratch/fullset/imdb2-full-gpt2-small/
down-stream/sentence_classification/from-scratch/fullset/gpt-tokenizer/
down-stream/sentence_classification/from-scratch/subset/imdb2-small-gpt2-small/
down-stream/sentence_classification/from-scratch/subset/gpt-tokenizer/

instruction_tuning/logs/
instruction_tuning/gpt2-vietnamese-medium-instruct-bf16/